.test-enter {
    opacity: 0;
}

.test-enter-active {
    opacity: 1;
    transition: 2s;
}

.test-exit {
    opacity: 1;
}

.test-exit-active{
    transition: 2s;
    opacity: 0;
}

.test-exit-done{
    opacity: 0;
}